<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--accessing form through @ViewChild-->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
       <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm">-->
        <!--By adding ngModel
                   name="userName",
                   form control is registered in javascript representation of form-->
        <div id="user-data" ngModelGroup="userData"
         #userdata="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   id="username"
                   class="form-control"
                   ngModel
                   name="userName"
                   required>
          </div>
          <button class="btn btn-default" type="button"
                  (click)="suggestdata()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email"
                   id="email"
                   class="form-control"
                   ngModel
                   name="email"
                   required
                   email
                   #em="ngModel">
            <!--!em.valid && em.touched => show the below msg when email not vaild
              or when it is touched not by default msg shown that is show when we go to type email and left without entering-->
            <span style="color:red" *ngIf="!em.valid && em.touched">Please Enter A Valid Email Address</span>
          </div>
        </div>
        <p *ngIf="!userdata.valid && userdata.touched">User Data is Invalid</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <!--[ngModel]="defaultQuestion" =>property binding to add default values-->
          <select id="secret"
                  class="form-control"
                  [ngModel]="defaultQuestion"
                  name="secret"
                  required>
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer"
                    [(ngModel)]="answer" rows="3"
                    class="form-control">
          </textarea>
        </div>
        <p>your Answer {{ answer }}</p>

        <div class="form-group" *ngFor="let gen of gender">
          <label>
            <input type="radio" class="form-control" name="gen" [value]="gen" ngModel> {{gen}}
          </label>
        </div>
        <button class="btn btn-primary"
                type="submit"
                [disabled]="!f.valid">Submit</button>
        <!--[disabled]="!f.valid" => if form is  not valid the button is disabled-->
      </form>
    </div>
  </div>

  <hr>
  <div class="row" *ngIf="formSubmitted">
    <h3>Display Data</h3>
    <p>Username: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Secret Question: {{ user.question }}</p>
    <p>Answer: {{ user.answer }}</p>
    <p>Gender: {{ user.gender }}</p>
  </div>
</div>
